.sbzcContainerView {
    width: 100%;
    border-width: 0 0 6px 0;
    border-color: #f0f0f0;
    border-style: solid;
}
.sbzcDetailContainerView {
    width: 100%;
    height: 80%;

}
.sbzcDetailInfoView {
    margin-left: 114px;
    height: 80%;
    margin-top: 5px
}
.sbzcImageContainer {
    padding-left: 15px;
    margin-top: 10px;
    width: 40%;
}
.sbzcImageView {
    width: 86px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    float: left;
    padding-bottom: 20px;
}
.sbzcDetailLabel {
    color: #999999;
    font-size: 1.2rem;

}
.sbzcDetailButton {
    color: #1491f2;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 15px;
}
.sbzcSingleContainer{
    border-width: 0 0 1px 0;
    border-color: #f0f0f0;
    border-style: solid;
    min-height: 40px;

}
.sbzcSingleTitle{
    margin-left: 14pt;
    margin-top: 10pt;
    width: 32%;
    font-size:1.4rem;
    float: left;
    color: #666666;
}
.sbzcsingleContentContainer{
    margin-left: 36%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sbzcSingleContent{
    font-size: 1.4rem;
    width: 90%;
}
.sbzcSingleImage{
    width: 94px;
    height: 54px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: #f0f0f0;
    border-style: solid;
}