<style>
    .pageTitle2 {
        height: 50px;
        background-color: rgb(54, 182, 234);
    }

    .searchBarDiv {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .queryBackImg {
        width: 10px;
        /*height: 10px;*/
        margin-left: 10px;
        /*margin-right: 20px;*/
    }

    .searchImg {
        width: 15px;
        height: 15px;
        margin: 0 -45px 0 20px;
        z-index: 100;
    }

    .searchForm {
        display: flex;
        align-items: center;
        /*border: 1px solid #cccccc;*/
        /*border-radius: 5px;*/
        /*font-size: 1.4rem;*/
        /*width: 80%;*/
        /*height: 30px;*/
        /*!*float: left;*!*/
        /*padding: 0 5px 0 30px; !*初始状态，不显示清除按钮，右边不用留太多位置，否则placeholder不好看*!*/
        /*margin: 0 0 0 20px;*/
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 1.4rem;

        width: 80%;
        background: white;
        height: 30px;
        padding: 0 5px 0 30px; /*初始状态，不显示清除按钮，右边不用留太多位置，否则placeholder不好看*/
        margin: 0 0 0 20px;
    }

    .searchKeyInput {
        /*border: 1px solid #cccccc;*/
        /*border-radius: 5px;*/
        /*font-size: 1.4rem;*/
        /*width: 80%;*/
        /*height: 30px;*/
        /*!*float: left;*!*/
        /*padding: 0 5px 0 30px; !*初始状态，不显示清除按钮，右边不用留太多位置，否则placeholder不好看*!*/
        /*margin: 0 0 0 20px;*/
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .clearInputSearchKey {
        display: none;
        visibility: hidden;
        width: 16px;
        height: 16px;
        /*margin: 0 0 0 -26px;*/
        background: url(../static/image/input_del.png) no-repeat;
        background-size: contain;
        outline: none;
        z-index: 101;
    }

    .searchKeyInput::-ms-clear {
        display: none;
    }

    .searchKeyInput:valid + .clearInputSearchKey {
        display: inline;
         visibility: visible;
    }

    /*当输入框有输入时，改变输入框的右边padding，留出显示清除按钮的位置*/
    /*没有输入时，右边padding为5，让placeholder能够完全占满整个输入框*/
    .searchKeyInput:valid {
        /*padding-right: 30px;*/
    }

    .cancelSearchButton {
        <!--color: #FFFFFF;-->
        <!--font-size: 1.4rem;-->
        <!--/* 让按钮文字在15%宽度中居中 */-->
        <!--text-align: center;-->
        <!--width: 15%;-->
        <!--/*margin-left设定一个合适的带下，否则屏幕太小，剩下的位置不够显示两个文字*/-->
        <!--margin-left: 2px;-->
        <!--padding: 0;-->
        <!--border: none;-->
        <!--/*-webkit-tap-highlight-color:rgba(0,0,0,0);*/-->
        <!--background-color: inherit;-->
        display: inline-block;
        color: #2196F3;
        font-size: 1.4rem;
        /* 让按钮文字在15%宽度中居中 */
        text-align: center;
        width: 15%;
        height:30px;
        line-height:30px;
        border-radius:5px;
        /*margin-left设定一个合适的带下，否则屏幕太小，剩下的位置不够显示两个文字*/
        margin-left: 5px;
        margin-right:5px;
        padding: 0;
        border: none;
        background-color:#FFFFFF;
        /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
    }

    .cancelSearchButton:hover {
        text-decoration: none;
        color: #2196F3;
    }

    .resultItem {
        width: 100%;
        background-color: white;
    }

    .resultItemName {
        width: 100%;
        padding: 1rem 2rem;
    }

    .resultItemContent {
        padding: 0 2rem 1rem 2rem;
        font-size: 1.2rem;
        color: #999999;
    }

    .resultItemStatus {
        color: #FF5151;
        font-size: 1.2rem;
        padding: 0 2rem 1rem 2rem;
        text-align: right;
    }

    .isEasyCancelling {
        padding: 0 2rem 1rem 2rem;
        font-size: 1rem;
        color: red;
    }

    .statusDiv {
        /*margin-left: 10px;*/
        padding: 2px 5px;
        font-size: 1rem;
        color: #FFFFFF;
        border-radius: 2px;
        float: left;
    }

    #entName {
        float: left;
        font-size: 1.4rem;
        margin-right: 10px;
    }

    .isCunxu {
        background-color: #1BCBF7;
    }

    .isZhuxiao {
        background-color: #656565;
    }

    .isDiaoxiao {
        background-color: #F82220;
    }

    .isQianchu {
        background-color: #0A6DCD;
    }

    .resultItemFooter {
        width: 100%;
        height: .3rem;
        background-color: #F0F0F0;
    }

    .loadMoreData {
        text-align: center;
    }

    .loadNextButton {
        width: 80%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(54, 182, 234);
        margin: 2rem 0;
        padding: 0;
        border: none;
        color: #FFFFFF;
        font-size: 1.4rem;
    }
</style>
<div class="pageTitle2">
    <div class="searchBarDiv">
        <img class="queryBackImg " src="../static/image/Back.png" ng-click="goBackHome()">
        <img class="searchImg" src="../static/image/input_search.png">
        <form action="" class="searchForm">
            <input class="searchKeyInput" type="search" required ng-model="searchedKey" ng-keyup="searchByKey($event)"
                   placeholder="企业名称/统一社会信用代码/注册号">
            <a class="clearInputSearchKey" ng-click="clearSearchKey()"></a>
        </form>
        <!--ng-focus="$state.go('entInfoQuery', {inputedSearchKey: $scope.searchedKey, searchType: $scope.searchType});">-->
        <a class="cancelSearchButton" ng-click="startSearching();">搜索</a>
    </div>
</div>
<div class="pageBody">
    <div ng-show="!isEmpty">
        <div ng-repeat="item in resultList">
            <div class="resultItem" ng-click="goEntInfoIndex(item.uuid, item.entType)">
                <div class="resultItemName">
                    <div id="entName"><span>{{item.entName}}</span></div>
                    <div class="statusDiv" ng-class="item.entStateCSSClass"><span>{{item.opState}}</span></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="resultItemContent" ng-show="(item.uniScid !=null && item.uniScid != '')">
                    <span>统一社会信用代码：</span><span>{{item.uniScid}}</span></div>
                <div class="resultItemContent" ng-show="(item.uniScid==null || item.uniScid == '')">
                    <span>注册号：</span><span>{{item.regNo}}</span></div>
                <div class="resultItemContent"><span>{{item.lerepName}}：</span><span>{{item.lerep}}</span></div>
                <div class="resultItemContent"><span>成立日期：</span><span>{{item.estDate}}</span></div>
                <div class="resultItemStatus" ng-show="item.isBlack"><span>该企业被列入严重违法失信企业名单</span></div>
                <div class="resultItemStatus" ng-show="item.isExcept"><span>该企业被列入经营异常名录</span></div>
                <div class="resultItemStatus" ng-show="item.isSimreg"><span>该企业正在进行简易注销公告</span></div>
                <div class="isEasyCancelling" ng-if="item.isSimreg">
                    <img class="baseInfoImg" style="width: 10px;margin-right: 4px;float: left" src="../static/image/icon_hint.png">
                    <div class="indexInfoText" style="line-height: 100%;width: 100%;">
                        <span style="width: 100%;display: block;">
                            正在进行简易注销公告，公告期：{{item.simRegFrom}}-{{item.simRegTo}}
                        </span>
                    </div>
                </div>
                <div class="resultItemFooter"></div>
            </div>
        </div>
        <!--<div class="loadMoreData">-->
        <!--<button class="loadNextButton" ng-click="loadNextPage()">加载更多</button>-->
        <!--</div>-->
    </div>
    <empty-page ng-show="isEmpty"></empty-page>
</div>