<div class="pageTitle">
    <span class="left-container vertical-middle" ng-click="$state.go('^')">
        <img class="left-btn " src="../static/image/Back.png">
    </span>
    <span class="title-text">抽查检查结果信息</span>

    <!--<span class="right-container vertical-middle">
        <img src="../static/image/icon_share.png" style="width: 2rem;margin-left: 5px;"/>
        <img ng-if="!isCollected" ng-click="collectEntInfo();" src="../static/image/icon_collectEnt.png"
                 style="width: 2rem;margin-left: 1rem;"/>
        <img ng-if="isCollected" ng-click="cancelCollectEntInfo()" src="../static/image/icon_collect_s.png"
                 style="width: 2rem;margin-left: 1rem;"/>
    </span>-->
</div>
<div class="pageBody" ng-show="!isEmpty">
    <div ng-repeat="x in dataArray ">
            <div class="fzjgxx" style="border-bottom: none; border-top: solid 0.5rem #f0f0f0;">
                <span class="titleSpan">{{x.insRes}}</span>
                <span class="bodySpan">类型：{{x.insType}}</span>
                <span class="bodySpan">日期：{{x.insDate}}</span>
                <span class="bodySpan">检查实施机关：{{x.insAuth}}</span>
            </div>

    </div>
</div>
<empty-page ng-show="isEmpty"></empty-page>