<div class="pageTitle  ">
    <span class="left-container vertical-middle" ng-click="$state.go('home.qi_gudongchuzi')">
        <img class="left-btn " src="../static/image/Back.png">
    </span>
    <span class="title-text">股东及出资详情信息</span>

    <!--<span class="right-container vertical-middle">
        <img src="../static/image/icon_share.png" style="width: 2rem;margin-left: 5px;"/>
        <img ng-if="!isCollected" ng-click="collectEntInfo();" src="../static/image/icon_collectEnt.png"
                 style="width: 2rem;margin-left: 1rem;"/>
        <img ng-if="isCollected" ng-click="cancelCollectEntInfo()" src="../static/image/icon_collect_s.png"
                 style="width: 2rem;margin-left: 1rem;"/>
    </span>-->
</div>

<div class="pageBody" style='background-color: #EEEEEE;font-size: 1.3rem' ng-model="gudongchuziDetailData">
    <div ng-show="!isEmpty">
        <div class="container gudongchuziDetailCellFather firstBorder" >
            <div class="row gudongchuziDetailCell">
                <div class="col-xs-6">股东名称</div>
                <div class="col-xs-6">{{gudongchuziDetailData.inv}}</div>
            </div>
        </div>
        <div class="container gudongchuziDetailCellFather firstBorder" >
            <div class="row gudongchuziDetailCell">
                <div class="col-xs-6">认缴额（万元）</div>
                <div class="col-xs-6">{{gudongchuziDetailData.liSubConAm}}</div>
            </div>
        </div>
        <div class="container gudongchuziDetailCellFather firstBorder" >
            <div class="row gudongchuziDetailCell">
                <div class="col-xs-6">实缴额（万元）</div>
                <div class="col-xs-6">{{gudongchuziDetailData.liAcConAm}}</div>
            </div>
        </div>



        <div class="container gudongchuziDetailHeader " ng-show="gudongchuziDetailData.payInfo.length">
            <div class="row ">
                <div class="col-xs-12">
                    认缴明细信息
                </div>
            </div>
        </div>



        <div ng-repeat="payInfo in  gudongchuziDetailData.payInfo">
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">认缴出资方式</div>
                    <div class="col-xs-6">{{payInfo.conForm}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">认缴出资额（万元）</div>
                    <div class="col-xs-6">{{payInfo.subConAm}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">认缴出资日期</div>
                    <div class="col-xs-6">{{payInfo.conDate}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather thirdBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">公示日期</div>
                    <div class="col-xs-6">{{payInfo.noticeDate}}</div>
                </div>
            </div>
        </div>
        <div class="container gudongchuziDetailHeader">
            <div class="row ">
                <div class="col-xs-12">
                    实缴明细信息
                </div>
            </div>
        </div>
        <div ng-repeat="realPayInfo in gudongchuziDetailData.realPayInfo ">
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell" >
                    <div class="col-xs-6">实缴出资方式</div>
                    <div class="col-xs-6">{{realPayInfo.conForm}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">实缴出资额（万元）</div>
                    <div class="col-xs-6">{{realPayInfo.acConAm}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather firstBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">实缴出资日期</div>
                    <div class="col-xs-6">{{realPayInfo.conDate}}</div>
                </div>
            </div>
            <div class="container gudongchuziDetailCellFather thirdBorder">
                <div class="row gudongchuziDetailCell">
                    <div class="col-xs-6">公示日期</div>
                    <div class="col-xs-6">{{realPayInfo.noticeDate}}</div>
                </div>
            </div>

        </div>
    </div>
    <empty-page ng-show="isEmpty"></empty-page>
</div>
