<ui-view>
    <div class="pageTitle  ">
    <span class="left-container vertical-middle" ng-click="$state.go('^')">
        <img class="left-btn " src="../static/image/Back.png">
    </span>
        <span class="title-text">行政处罚信息</span>

    <!--<span class="right-container vertical-middle">
        <img src="../static/image/icon_share.png" style="width: 2rem;margin-left: 5px;"/>
        <img ng-if="!isCollected" ng-click="collectEntInfo();" src="../static/image/icon_collectEnt.png"
                 style="width: 2rem;margin-left: 1rem;"/>
        <img ng-if="isCollected" ng-click="cancelCollectEntInfo()" src="../static/image/icon_collect_s.png"
                 style="width: 2rem;margin-left: 1rem;"/>
    </span>-->
    </div>

    <div class="pageBody" style="background-color: #EEEEEE ;padding-top: 5px ;font-size: 1.4rem">
        <div ng-show="!isEmpty">
            <div style="background-color: white;border-bottom: 5px solid #EEEEEE" ng-repeat="i in qi_xingzhengchufa">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 10px">决定书文号 : {{i.penDecNo}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 10px">违法行为类型 : {{i.illegActTypeName}}</div>
                    </div>
                    <div class='cusomtChange' ng-show="i.change">(变更情形)</div>
                    <div class="buttonDetail" ng-click="lookDetail(i)">
                        <!--<button>查看详情</button>-->
                        <a>查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <empty-page ng-show="isEmpty"></empty-page>
    </div>
</ui-view>